<!DOCTYPE html>
<html>
<head>
    <title>STEP2: LSTM 이해하기</title>
    <!-- 부트스트랩 적용 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">

    <div class="card shadow p-4">
        <h2 class="mb-3">(1) LSTM의 게이트 </h2>
        <p>
            lstm에는 총 4개의 게이트가 존재합니다.<br>
            RNN의 기억 잃는 문제를 해결하기 위해 만들어진 lstm은 위 4개의 게이트를 통해 정보를 기억합니다!<br>
            (1)망각 게이트: 활성화 함수는 sigmoid 함수입니다. 기호는 f_t 라고 작성하겠습니다.<br>
                - fₜ = σ(W_f · [hₜ₋₁, xₜ] + b_f) <br>
            (2)입력 게이트: 활성화 함수는 sigmoid 함수입니다. 기호는 i_t 라고 작성하겠습니다.<br>
                - iₜ = σ(W_i · [hₜ₋₁, xₜ] + b_i) <br>
            (3)셀 후보값: 활성화 함수는 tanh 함수입니다. 기호는 c_hat_t 라고 작성하겠습니다.<br>
                - ĉₜ = tanh(W_c · [hₜ₋₁, xₜ] + b_c) <br>
            (4)출력 게이트: 활성화 함수는 sigmoid 함수입니다. 기호는 o_t 라고 작성하겠습니다.<br>
                - oₜ = σ(W_o · [hₜ₋₁, xₜ] + b_o) <br>
            <strong>[h_t 에 대해서는 다음 장의 변수 설명시 같이 설명하겠습니다!]</strong><br>

            각 게이트는 <br>
            -> 과거 기억을 잊을지 결정 <br>
            -> 새로운 정보를 기억할지 결정 <br>
            -> 새로 들어올 기억에 대한 계산 <br>
            -> 현시점 출력을 얼마나 보낼지 결정 <br>

            위의 게이트를 데이터가 통과하면서 각 수식에 대입되어 중요한 정보는 기억되어 사용됩니다.<br>
        </p>
    </div>

    <div class="card shadow p-4">
        <h2 class="mb-3">(2)LSTM 에서 마주하게될 변수</h2>
        <p>
            다음으로 lstm에 이용될 가중치와 편향들에 대해 알아보겠습니다.<br>
            (1)W_f , W_i, W_o, W_c<br>
            (2)b_f, b_i, b_o, b_c<br>
            W는 각 게이트에 대한 가중치를 의미합니다.<br>
            b는 각 게이트에 대한 절편을 의미합니다.<br>
        </p>
    </div>

    <div class="card shadow p-4">
        <h2 class="mb-3">(3)LSTM의 작동과 파이썬 코드</h2>
        <p>
            (1)LSTM은 데이터를 입력받습니다. 
            (2)입력받은 데이터를 이전 lstm의 출력 결과와 병합됩니다.
            (3)병합된 데이터는 각 게이트를 통과합니다. 
            (4)통과된 데이터를 통해 현재 셀을 업데이트 합니다. 
            (5)셀을 업데이트하고 은닉충의 결과에 저장합니다. 
        </p>
    </div>

</body>
    <h2>lstm 내부 이해하기</h2>
    <form action="/lstm/step2">
        <button type="submit">2단계: lstm 이해하기</button>
    </form>
</html>
