<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>홈페이지</title>
</head>
<body>
    <h1>머신러닝 학습 사이트</h1>

    {% if username %}
    <p>환영합니다, {{ username }}님!</p>
    <a href="/logout">로그아웃</a>
    {% else %}
    <a href="/login"><button>로그인</button></a>
    <a href="/register"><button>회원가입</button></a>
    {% endif %}

    <h2>머신러닝 학습하기</h2>
    <a href="/step1"><button>AI 작동 과정 알아보기.</button></a>
    <a href="/step2"><button>머신러닝(1) - 특징 추출</button></a>
    <a href="/step3"><button>머신러닝(2) - 경사 하강법</button></a>


</body>
</html>

