<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>홈페이지</title>
</head>
<body>
    <h1>어서오세요. 코인 초보자를 위한 AI 튜터 사이트입니다.</h1>
    <form action="/balance/" method ="post">
        <!-- 입력값 처리할 flask 라우터 주소, method는 post방식 이용-->
        <label for="balance">현재 잔고 ($)</label>
        <input type = 'number' id = 'balance' name = 'balance' required>
        <!-- input으로 입력 받기, type으로 오직 숫자만 입력받고, name은 서버에 보낼 때 사용할 key 이름이다. required를 통해 빈 입력을 방지한다. -->
        <button type="submit">현재 잔고 입력하기.</button>
    </form>
</body>
</html>

